---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <section class="relative w-full h-[50vh] sm:h-[70vh] bg-[url('/kids.jpg')] bg-cover bg-center">
    <div class="absolute inset-0 bg-black/50 flex justify-center items-center text-white">
      <h1 class="text-6xl font-bold">Contact</h1>
    </div>
  </section>
  <section class="m-auto mt-10 max-w-[1100px]">
    <h1 class="text-[2.3rem] text-primary text-center font-bold">
      Get In Touch
    </h1>
  </section>
  <section class="m-auto mt-10 max-w-[1100px]">
    <h1 class="text-[2.3rem] text-primary text-center font-bold">
      You can also send us a message
    </h1>
  </section>
</MainLayout>