---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <section class="relative w-full h-[50vh] sm:h-[70vh] bg-[url('/kids.jpg')] bg-cover bg-center">
    <div class="absolute inset-0 bg-black/50 flex justify-center items-center text-white">
      <h1 class="text-6xl font-bold">Our Services</h1>
    </div>
  </section>
</MainLayout>