<div class="relative w-full h-[90vh] bg-[url('/therapy.jpg')] bg-cover">
  <div class="absolute inset-0 bg-black/50">
    <div class="p-2 w-full max-w-[800px] h-full flex flex-col justify-center text-white">
      <h1 class="font-alab text-[2.5rem] sm:text-[3.5rem]">Welcome to Smartprep Thrive</h1>
      <p class="text-lg">
        Empowering individuals with special needs through personalized therapy,
        inclusive education, and expert training.
      </p>
    </div>
  </div>
</div>